@model mvc_project.Models.UserViewModel
@using mvc_project.Models
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<h2>Add New User</h2>

<form action="UserSubmit" method="post">

    <table>
        <tr>
            <td>First name:</td>
            <td>@Html.TextBoxFor(m => m.user.FirstName)   <div style="color:red">  @Html.ValidationMessageFor(x => x.user.FirstName)</div> </td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td>@Html.TextBoxFor(m => m.user.LastName)  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.LastName)</div></td>
        </tr>
        <tr>
            <td>Customer number:</td>
            <td>@Html.TextBoxFor(m => m.user.ID)  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.ID)</div></td>
        </tr>

        <tr>
            <td>Start Money:</td>
            <td>@Html.TextBoxFor(m => m.user.Money)  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.Money)</div></td>
        </tr>


    </table>
    <br />
    <input id="btnSubmit" type="submit" value="Add Customer" />

</form>

<table>
    <tr>
        <td>ID</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>Money</td>
    </tr>

    @{ foreach (User obj in Model.users)
            {
            <tr>
                <td>@obj.ID</td>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>
                <td>@obj.Money</td>
            </tr>
        }
    }

</table>
