@model mvc_project.Models.UserViewModel
@using mvc_project.Models
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<fieldset class="row-fluid appoform">
    <form action="UserSubmit" method="post">

        <table class="table">
            <tr>
                <td>First name:</td>
                <td>@Html.TextBoxFor(m => m.user.fname, new { @class = "form-control" })   <div style="color:red">  @Html.ValidationMessageFor(x => x.user.fname)</div> </td>
            </tr>
            <tr>
                <td>Last name:</td>
                <td>@Html.TextBoxFor(m => m.user.lname, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.lname)</div></td>
            </tr>
            <tr>
                <td>Customer number:</td>
                <td>@Html.TextBoxFor(m => m.user.ID, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.ID)</div></td>
            </tr>

            <tr>
                <td>Start Money:</td>
                <td>@Html.TextBoxFor(m => m.user.money, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.money)</div></td>
            </tr>


        </table>
        <br />
        <button type="submit" id="submit" class="btn btn-primary btn-block">Add Customer</button>

    </form>
    </fieldset>

    <table class="table table-condensed">
        <tr>
            <td>ID</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Money</td>
        </tr>

        @{ foreach (User obj in Model.users)
            {
                <tr>
                    <td>@obj.ID</td>
                    <td>@obj.fname</td>
                    <td>@obj.lname</td>
                    <td>@obj.money</td>
            </tr>
            }
        }

    </table>
