@model mvc_project.Models.UserViewModel
@using mvc_project.Models
@{
    ViewBag.Title = "Index";
    bool isAdmin = false;
}

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<fieldset class="row-fluid appoform">
    <form action="UserSubmit" method="post">

        <div class="col-md-12 col-xs-12">

            <div class="col-md-6">
                <strong>First name:</strong>
                @Html.TextBoxFor(m => m.user.fname, new { @class = "form-control" })   <div style="color:red">  @Html.ValidationMessageFor(x => x.user.fname)</div>
            </div>

            <div class="col-md-6">
                <strong>Last name:</strong>
                @Html.TextBoxFor(m => m.user.lname, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.lname)</div>
            </div>

            <div class="col-md-6">
                <strong>Id</strong>
                @Html.TextBoxFor(m => m.user.ID, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.ID)</div>
                </div>

            <div class="col-md-6">
                <strong>Money</strong>
                @Html.TextBoxFor(m => m.user.money, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.money)</div>
            </div>

            <div class="col-md-6">
                <strong>Photo</strong>
                @Html.TextBoxFor(m => m.user.photo, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.photo)</div>
            </div>

            <div class="col-md-6">
                <!--<strong>is Admin</strong>-->
               @Html.HiddenFor(m => m.user.isAdmin)
            </div>

            <div class="col-md-6">
                <strong>Email</strong>
                @Html.TextBoxFor(m => m.user.email, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.email)</div>
            </div>

            <div class="col-md-6">
                <strong>Phone</strong>
                @Html.TextBoxFor(m => m.user.phone, new { @class = "form-control" })  <div style="color:red"> @Html.ValidationMessageFor(x => x.user.phone)</div>
            </div>


                <button type="submit" id="submit" class="btn btn-primary btn-block">Add Customer</button>

            </div>
            <br />


</form>
    </fieldset>

    <table class="table table-condensed">
        <tr>
            <td>ID</td>
            <td>FirstName</td>
            <td>LastName</td>
            <td>Money</td>
            <td>Photo</td>
            <td>isAdmin</td>
            <td>Email</td>
            <td>Phone</td>

        </tr>

        @{ foreach (User obj in Model.users)
            {
                <tr>
                    <td>@obj.ID</td>
                    <td>@obj.fname</td>
                    <td>@obj.lname</td>
                    <td>@obj.money</td>
                    <td>
                    <a href="@obj.photo"><img src="@obj.photo" width="75" height="75"></a></td>
                    <td>@obj.isAdmin</td>
                    @{if (isAdmin)
                        {
                            <td>@obj.email</td>
                            <td>@obj.phone</td>
                        }
                        <td>HIDDEN</td>
                        <td>HIDDEN</td>
                    }
                    
            </tr>
            }
        }

    </table>
