@model mvc_project.Models.User
@using mvc_project.Models



@{
    List<User> q = new List<User>();
    q.Add(Model);
    WebGrid o = new WebGrid(q);
    ViewBag.Title = "UserArea";
}

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="plan wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s;">
        <div class="head">
            <h2><strong>Profile info</strong></h2>
        </div>

        <input type="hidden" value="@Model.username" id="username_profile_dyn">

        @*@o.GetHtml();*@

        <br />
        <fieldset class="row-fluid appoform leftSide col-md-12">
            <form id="updateProfile" action="UpdateProfile" method="post">

                <input type="hidden" value="@Model.username" name="username" id="username">

                <label>First Name</label>
                <div class="col-md-12">
                    <input type="text" required name="fname" value="@Model.fname" id="fname" class="form-control">
                </div>

                <label>Last Name</label>
                <div class="col-md-12">
                    <input type="text" required name="lname" value="@Model.lname" id="lname" class="form-control">
                </div>

                <label>Email</label>
                <div class="col-md-12">
                    <input type="email" required name="email" value="@Model.email" id="email" class="form-control">
                </div>

                <label>Phone</label>
                <div class="col-md-12">
                    <input type="text" required name="phone" value="@Model.phone" id="phone" class="form-control">
                </div>

                <center>
                    <input type="submit" class="btn btn-primary Update_profile" value="Update profile" />
                </center>
            </form>
               
</fieldset>


       
    </div>
</div>

<div class="col-md-6">
    <div class="plan wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s;">

        <div class="head">
            <h2><strong>Balance</strong></h2>
        </div>

        <div class="price">
            <br>
            <h3><span class="symbol">$</span>@Model.money</h3>

        </div>
        <button type="button" class="btn btn-primary" onclick="window.open('https://www.paypal.me/alexsilyuk', '_blank');">Fill Balance</button>

    </div>
</div>


<div class="clearfix"></div>

<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="plan wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s;">
        <div class="head">
            <h2><strong>Change Password</strong></h2>
        </div>


        @*@o.GetHtml();*@

        <br />
        <fieldset class="row-fluid appoform leftSide col-md-12">
            <form id="updatePassword" action="updatePassword" method="post">

                <input type="hidden" value="@Model.username" name="username" id="username">

                <label>New Password</label>
                <div class="col-md-12">
                    <input type="text" required name="password" id="password" class="form-control">
                </div>

                <label>Confirm  Password</label>
                <div class="col-md-12">
                    <input type="text" required  name="cpassword" id="cpassword" class="form-control">
                </div>

                <center>
                    <input type="submit" class="btn btn-primary change_password" value="Change password" />
                </center>
    </form>
</fieldset>
    </div>
</div>


<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="plan wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s;">
        <div class="head">
            <h2><strong>Change Photo</strong></h2>
        </div>

        @*@o.GetHtml();*@

        <br />
        <fieldset class="row-fluid appoform leftSide col-md-12"> 
            <form id="updatePhoto" action="updatePhoto" method="post">

                <input type="hidden" value="@Model.username" name="username" id="username">

                <div class="col-md-4">
                    <img id="photo_profile_dyn" class="img-responsive" src="@Model.photo" />
                </div>

                <div class="col-md-8">
                    <label>Photo Url</label>
                    <div class="col-md-12">
                        <textarea type="text" name="photo_url" required id="photo_url" class="form-control">@Model.photo</textarea>
                    </div>
                </div>


                <center>
                    <input type="submit" class="btn btn-primary" value="Set Photo" />
                </center>
                </fom>
</fieldset>



    </div>
</div>
