@model mvc_project.Models.AdminViewModel
@using mvc_project.Models
@{
    ViewBag.Title = "Admin page";

    WebGrid grid = new WebGrid(Model.messages);
}

<div class="osahanloading"></div>
<!-- USER EDIT MODAL WINDOW-->
<div class="userModal modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Control User</h5>
            </div>
            <div class="modal-body">
                
                <fieldset class="row-fluid appoform">

                    <div class="col-md-12">
                        <input type="hidden" name="photo_url" id="photo_url" class="form-control">
                    </div>

                    <div class="col-md-12">
                        <input type="hidden" name="username" id="username" class="form-control">
                    </div>

                    <label>Password</label>
                    <div class="col-md-12">
                        <input type="text" name="password" id="password" class="form-control">
                    </div>

                    <label>Balance</label>
                    <div class="col-md-12">
                        <input type="text" name="balance" id="balance" class="form-control">
                    </div>

                    <label>First Name</label>
                    <div class="col-md-12">
                        <input type="text" name="fname" id="fname" class="form-control">
                    </div>

                    <label>Last Name</label>
                    <div class="col-md-12">
                        <input type="text" name="lname" id="lname" class="form-control">
                    </div>

                    <label>Email</label>
                    <div class="col-md-12">
                        <input type="email" name="email" id="email" class="form-control">
                    </div>

                    <label>Phone</label>
                    <div class="col-md-12">
                        <input type="text" name="phone" id="phone" class="form-control" >
                    </div>
                   
                   
                </fieldset>


            </div>
            <div class="modal-footer">
                <button type="button" class="user_save_changes btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary cls">Close</button>

                <div class="alert-success" id="user_res_query"></div>

            </div>
        </div>
    </div>
</div>



<!-- ITEM EDIT MODAL WINDOW-->
<div class="itemModal modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Shop Item</h5>
            </div>
            <div class="modal-body">

                <fieldset class="row-fluid appoform">

                    <div class="col-md-12">
                        <input type="hidden" name="iId" id="iId" class="form-control">
                    </div>

                    <label>Name</label>
                    <div class="col-md-12">
                        <input type="text" name="iName" id="iName" class="form-control">
                    </div>

                    <label>Description</label>
                    <div class="col-md-12">
                        <textarea class="form-control"  name="iDescription" id="iDescription"></textarea>
                    </div>

                    <label>Price</label>
                    <div class="col-md-12">
                        <input type="text" name="iPrice" id="iPrice" class="form-control">
                    </div>

                    <label>Photo Url</label>
                    <div class="col-md-12">
                        <textarea class="form-control" name="iPhoto_url" id="iPhoto_url"></textarea>
                    </div>

                 
                </fieldset>


            </div>
            <div class="modal-footer">
                <button type="button" class="item_save_changes btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary cls">Close</button>

                <div class="alert-success" id="item_res_query"></div>

            </div>
        </div>
    </div>
</div>





<div class="tabbed-widget">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#users">Users</a></li>
        <li><a data-toggle="tab" href="#items">Shop Items</a></li>
        <li><a data-toggle="tab" href="#orders">Orders</a></li>
        <li><a data-toggle="tab" href="#messages">Messages from clients</a></li>
    </ul>


    <div class="tab-content">

        <!-- USERS LIST-->
        <div id="users" class="tab-pane fade in active">
            
            <br />
            <div class="general-title text-center">
                <h4>User List</h4>
                <hr>
            </div>

            <table id="cart-table" class="table table-condensed">
                <thead>
                    <tr>
                        <th>UserName</th>
                        <th>Password</th>
                        <th>Balance ($)</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Photo</th>

                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @{  foreach (User obj in Model.users)
            {
                            <tr>
                                <th>@obj.username</th>
                                <th>@obj.password</th>
                                <th>@obj.money</th>
                                <th>@obj.fname</th>
                                <th>@obj.lname</th>
                                <th>@obj.email</th>
                                <th>@obj.phone</th>
                                <th><a href="@obj.photo" target="_blank">Open in new window</a></th>
                                <th>
                                    <button class="btn btn-primary user_edit_btn">Edit</button>
                                    <button id="@obj.username" class="btn btn-danger user_del_btn">X</button>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>


        </div>


        <!-- SHOP ITEMS-->
        <div id="items" class="tab-pane fade">
        
            <br />
            <div class="general-title text-center">
                <h4>Shop Items List</h4>
                <hr>
            </div>


            <div class="pull-right col-md-3">
                <button class="btn btn-success btn-block item_edit_btn">Add New</button>
                <br />
                <br />
            </div>
            

            <table id="cart-table" class="table table-condensed">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price ($)</th>
                        <th>Photo_url</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody id="shopItemDynamic">
                    @{  foreach (ShopItem obj in Model.items)
            {
                            <tr>
                                <th>@obj.Id</th>
                                <th>@obj.Name</th>
                                <th>@obj.Description</th>
                                <th>@obj.price</th>
                                <th><a href="/Content/shop/@obj.photo_url" target="_blank"><img src="/Content/shop/@obj.photo_url" height="50" width="50" /></a></th>
                                <th>
                                    <button class="btn btn-primary item_edit_btn">Edit</button>
                                    <button id="@obj.Id" class="btn btn-danger item_del_btn">X</button>
                                </th>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>


        <!-- ORDERS LIST-->
        <div id="orders" class="tab-pane fade">

            <br />
            <div class="general-title text-center">
                <h4>Orders List</h4>
                <hr>
            </div>


            <table id="cart-table" class="table table-condensed">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Item Title</th>
                        <th>Photo</th>
                        <th>Price</th>
                        <th>User Name</th>
                        <th>Status</th> 
                        <th>Action Status</th>
                    </tr>
                </thead>

                <tbody>


                    @foreach (Order o in Model.orders)
                    {
                    <tr>

                        <th>@o.orderID</th>
                        <th>@Html.ActionLink(o.title, "SingleItem", "Shop", new { itemId = o.itemID }, null)</th>
                        <th>
                            <div class="media">
                                <div class="relative">
                                    <a href="@o.img" title="">
                                        <img src="@o.img" alt="">
                                    </a>
                                </div>
                            </div>
                        </th>
                        <td>@o.price</td>
                        <td>@o.username</td>
                        <th>@o.status</th>

                        <th>
                            <button title="@o.orderID"class="btn btn-info order_sent_btn">Sent</button>
                            <button title="@o.orderID" class="btn btn-primary order_cancel_btn">Cancel</button>
                            <button title="@o.orderID" class="btn btn-success order_deliver_btn">Delivered</button>
                            <button title="@o.orderID" class="btn btn-danger order_del_btn">X</button>
                        </th>

                    </tr>
                    }

                </tbody>
            </table>
 
        </div>


        <!-- Messages LIST-->
        <div id="messages" class="tab-pane fade">

            <br />
            <div class="general-title text-center">
                <h4>Messages from clients</h4>
                <hr>
            </div>

            <div class="pull-right col-md-3">
                <button class="btn btn-danger btn-block clear_history">Clear History</button>
                <br />
                <br />
            </div>
           
              @grid.GetHtml("table table-condensed messages_table");



        </div>



    </div>
</div>



