@model mvc_project.Models.AdminViewModel
@using mvc_project.Models
@{
    ViewBag.Title = "Index";

    var regular_users = from u in Model.users where u.isAdmin == false select u;

}

<div class="userModal modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">User Edit</h5>
            </div>
            <div class="modal-body">
                
                <fieldset class="row-fluid appoform">

                    <div class="col-md-12">
                        <input type="hidden" name="photo_url" id="photo_url" class="form-control">
                    </div>

                    <div class="col-md-12">
                        <input type="hidden" name="username" id="username" class="form-control">
                    </div>

                    <label>Password</label>
                    <div class="col-md-12">
                        <input type="text" name="password" id="password" class="form-control">
                    </div>

                    <label>Balance</label>
                    <div class="col-md-12">
                        <input type="text" name="balance" id="balance" class="form-control">
                    </div>

                    <label>First Name</label>
                    <div class="col-md-12">
                        <input type="text" name="fname" id="fname" class="form-control">
                    </div>

                    <label>Last Name</label>
                    <div class="col-md-12">
                        <input type="text" name="lname" id="lname" class="form-control">
                    </div>

                    <label>Email</label>
                    <div class="col-md-12">
                        <input type="email" name="email" id="email" class="form-control">
                    </div>

                    <label>Phone</label>
                    <div class="col-md-12">
                        <input type="text" name="phone" id="phone" class="form-control" >
                    </div>
                   
                   
                </fieldset>


            </div>
            <div class="modal-footer">
                <button type="button" class="save_changes btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary cls">Close</button>

                <div class="alert-success" id="res_query"></div>

            </div>
        </div>
    </div>
</div>


<div class="general-title text-center">
    <h4>User List</h4>
    <hr>
</div>

<table id="cart-table" class="table table-condensed">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Password</th>
            <th>Balance ($)</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Photo</th>

            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @{  foreach (User obj in regular_users)
            {
                <tr>
                    <th>@obj.username</th>
                    <th>@obj.password</th>
                    <th>@obj.money</th>
                    <th>@obj.fname</th>
                    <th>@obj.lname</th>
                    <th>@obj.email</th>
                    <th>@obj.phone</th>
                    <th><a href="@obj.photo" target="_blank">Open in new window</a></th>
                    <th><button class="btn btn-primary btn-block edit_btn">Edit</button>
                        <button id="@obj.username" class="btn btn-primary btn-block del_btn">Delete</button></th>
                </tr>
            }
        }
    </tbody>
    </table>
