@model mvc_project.Models.OrderVM
@using mvc_project.Models
@{
    ViewBag.Title = "Cart";
}

<section class="section white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form method="post" class="shopform">
                    <div class="table-responsive margin-top">
                        <table id="cart-table-order" class="table table-condensed">
                            <thead>
                                <tr>
                                    
                                    <th>Order ID</th>
                                    <th>Item Title</th>
                                    <th>Photo</th>
                                    <th>Price</th>
                                    <th>Status</th>                                   
                                </tr>
                            </thead>
                            <tbody>

                                @{ if (Model.orders != null && Model.orders.Count > 0)
                                    {
                                        foreach (Order o in Model.orders)
                                        {
                                            <tr>

                                                <th>@o.orderID</th>
                                                <th>@Html.ActionLink(o.title, "SingleItem", "Shop", new { itemId = o.itemID }, null)</th>
                                                <th>
                                                    <div class="media">
                                                        <div class="relative">
                                                            <a href="@o.img" title="">
                                                                <img src="@o.img" alt="" >
                                                            </a>
                                                        </div>
                                                    </div>
                                                </th>
                                                <td>@o.price</td>
                                                <th>@o.status</th>

                                          
                                            </tr>
                                        }
                                    }

                                    else
                                    {
                                        <h1 style="color: red;"> ORDER LIST IS EMPTY</h1>
                                    }

                                }

                                
                               
                               
                            </tbody>
                        </table>
                    </div>
                </form>
               
         
            </div>
        </div>
    </div>
</section>

