@*@model mvc_project.Models.ShopItemViewModel*@
@using mvc_project.Models
@{
    ViewBag.Title = "WoofStore - Shop";



   // Uri uri = new Uri(Request.Url.ToString());
   // string url_img = uri.Scheme + Uri.SchemeDelimiter + uri.Host + ":" + uri.Port;


    //var linq_test = from m in Model.items where m.price > 50 select m;

}


<div class="page-title grey">
    <div class="container">
        <div class="title-area pull-left">
            <h2>Shop <small>Best pet supplies, materials and eats</small></h2>
 
        </div>
        <div class="search pull-right">
            <form>
                <div class="input-group">
                    <input class="form-control" name="s" id="dynSearch" type="search" placeholder=" Search... ">
                    
                </div>
            </form>
        </div>
    </div>
</div>


<section class="section white">
    <div class="container">
       
        <!--<div class="shop-top clearfix">
            <div class="title-area pull-left">
                <p>Showing 1–9 of 23 results</p>
            </div>
        </div>
--> 

        <div id="status_load_dyn"></div>
            <div id="preloader"></div>
       

            

<div id="dynamicLoad" class="row module-wrapper shop-layout text-center">

@*@{ foreach (ShopItem obj in linq_test)
        {

            <div class="col-md-3 col-sm-6 wdtShop grid cs-style-3">
                <div class="img-wrap">
                    <figure>
                        <img alt="" src="@obj.photo_url" class="img-responsive">
                        <figcaption>
                            <p><strong>$ @obj.price</strong></p>
                            <a class="blogging cart_add" title="@obj.Name" id="@obj.Id" href="#"><i class="fa fa-shopping-cart"></i></a>
                        </figcaption>
                    </figure>
                </div>
                <h4>

 @Html.ActionLink(obj.Name, "SingleItem", "Shop",  new { itemId = obj.Id }, null)

                </h4>
            </div>

        }
    }*@


    <script>
        $("#status_load_dyn").fadeIn().text("Loading shop items, please wait...");
        $("#preloader").fadeIn();
        $.get("/Shop/getShopItemsbyJSON", null, showList);

        function showList(shopItems) {


            var block = $("#dynamicLoad");


            for (i = 0; i < shopItems.length; i++) {


                var newElement = " <div class='col-md-3 col-sm-6 wdtShop grid cs-style-3'>" +
                "<div class='img-wrap'>" +
                    "<figure>" +
                       "<a href='/Shop/SingleItem?itemId=" + shopItems[i].Id + "'> " +
                       "<img src='/Content/shop/" + shopItems[i].photo_url + "' class='img-responsive'>" +"</a>"+
                        "<figcaption>" +
                            "<p><strong>$ " + shopItems[i].price + "</strong></p>" +
                            "<a class='blogging cart_add' title='" + shopItems[i].Name + "' id='" + shopItems[i].Id + "' href='#'>" +
                            "<i class='fa fa-shopping-cart'></i></a>" +
                        "</figcaption>" +
                    "</figure>" +
                "</div>" +
                "<h4>" +
                "<a href='/Shop/SingleItem?itemId=" + shopItems[i].Id + "'> " + shopItems[i].Name + " </a> " +
                "</h4>";


                block.append(newElement);

            }
            $("#status_load_dyn").text("").fadeOut();
            $("#preloader").fadeOut();
        }

    </script>


        </div>

    </div>
</section>

