@model mvc_project.Models.ShopItem

@{
    ViewBag.Title = Model.Name;
}

<div id="content" class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="product-images">
                <a data-rel="prettyPhoto" href="#" title="">
                    <img class="img-polaroid" src="@Model.photo_url" alt="">
                </a>
                
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12">
            <div class="shop-desc">
                <h3>@Model.Name</h3>
                <small>$ @Model.price</small>
               
                <p>@Model.Description</p>
                <div style="display:none" id="img_url_l">@Model.photo_url</div>
                <a href="#" id="@Model.Id" title="@Model.Name" class="buy btn btn-primary">Buy @Model.Name</a>
               
  
            </div>
        </div>
    </div>
    <hr class="invis">
</div>

