<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

<div class="shadow">
    </div>

    <div class="alert alert-success">
        <div class="success_msg"></div>
    </div>

    <div class="alert alert-danger">
        <div class="error_msg"></div>
    </div>


<!--    <div id="loader">
        <div class="loader-container">
            <img src="~/Content/images/preLoad.png" alt="" class="loader-site spinner">
        </div>
    </div>
-->


<!-- User Panel -->
    @{  if (Session["login"] != null)
        {
    <div class="topbar dark clearfix">
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-6 col-sm-6 text-left">

                    <div class="col-md-3 text-left">
                        <img id="photo_top_avatar" class="img-responsive" src=@Session["avatar"]  />
                        </div>

                        <div class="col-md-9 text-left">
                            <p>
                             Welcome:<strong> @Session["login"]</strong>
                             <br />Balance: <strong id="ubalance"> @Session["money"] $</strong>
</p>
                        </div>
                    </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <div class="social">

@{  if (Convert.ToBoolean(Session["admin"]))
    {
        @Html.ActionLink("Administrator", "Index", "Admin")
    }
}

                        @Html.ActionLink("My Profile", "UserArea", "User")
                        @Html.ActionLink("My Orders", "UserOrders", "Shop")
                        @Html.ActionLink("Exit", "LogOut", "User")
                       
                    </div>
</div>
            </div>
        </div>
    </div>

    }
        }

<!-- top -->
    <div class="topbar dark clearfix">
        <div class="container">
            <div class="row-fluid">
  

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="wrapper">


        <header class="header">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-table">
                                    <div class="navbar-cell tight">
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt="Ova"></a>
                                            <div>
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="fa fa-bars"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                                            <div class="navbar-cell">

                                                <ul class="nav navbar-nav navbar-right">
                                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                                    <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
                                                    <li>@Html.ActionLink("About", "About", "Home")</li>
                                                    <li>@Html.ActionLink("Info", "Info", "Home")</li>
                                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                
                 
                                                                                      @{  if (Session["login"] == null) {
              <li>@Html.ActionLink("Login", "Login", "User")</li>
             }  }
                                                </ul>

                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

      <!--  <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Info", "Info", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>

-->

        <div class="container body-content">
            @RenderBody()

            <br /><br />


        </div>




        <footer class="footer dark">
            <div class="container">
                <div class="row module-wrapper">
                    <div class="col-md-4 col-sm-6">
                        <div class="widget">
                            <div class="text-center">
                                <img src="~/Content/images/foot_logo.png" alt="" class="img-responsive">
                                <p>Lorem iam nonummy nibh euismod tincidunt ut laoreet dolore Lorem ipsum dolor sit amet.</p>
                                <div class="social">
                                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Youtube"><i class="fa fa-youtube"></i></a>
                                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Github"><i class="fa fa-github"></i></a>
                                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="MaxCDN"><i class="fa fa-maxcdn"></i></a>
                                    <a href="#" data-tooltip="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Contact Details</h4>
                            </div>
                            <ul>
                                <li><i class="fa fa-link"></i> www.yoursite.com</li>
                                <li><i class="fa fa-envelope"></i> info@yoursite.com</li>
                                <li><i class="fa fa-phone"></i> +90 123 45 67</li>
                                <li><i class="fa fa-fax"></i> +90 123 45 68</li>
                                <li><i class="fa fa-home"></i> Envato INC 22 Elizabeth Str 8777.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="widget">
                            <div class="widget-title">
                                <h4>Useful Links</h4>
                            </div>
                            <ul>
                                <li><a href="index.html">Default Version</a></li>
                                <li><a href="index-alt.html">Home Alternative</a></li>
                                <li><a href="index-boxed.html">Boxed Version</a></li>
                                <li><a href="vets.html">Our Vets</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="services.html">Our Services</a></li>
                                <li><a href="contact.html">Get In Touch</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            </footer>

        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>© @DateTime.Now.Year AleRom </p>
                    </div>
                    <div class="col-md-6 text-right">
                        <ul class="list-inline">
                            <li><a href="#">Terms of Usage</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

</div>

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/main.js")
        @RenderSection("scripts", required: false)
</body>
</html>
