<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/images/icon.ico">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>

<div class="shadow">
    </div>

    <div class="alert alert-success">
        <div class="success_msg"></div>
    </div>

    <div class="alert alert-danger">
        <div class="error_msg"></div>
    </div>


<!--    <div id="loader">
        <div class="loader-container">
            <img src="~/Content/images/preLoad.png" alt="" class="loader-site spinner">
        </div>
    </div>
-->


<!-- User Panel -->
    @{  if (Session["login"] != null)
        {
    <div class="topbar dark clearfix">
        <div class="container">
            <div class="row-fluid">
                <div class="col-md-6 col-sm-6 text-left">

                    <div class="col-md-3 text-left">
                        <img id="photo_top_avatar" class="img-responsive" src=@Session["avatar"]  />
                        </div>

                        <div class="col-md-9 text-left">
                            <p>
                             Welcome:<strong> @Session["login"]</strong>
                             <br />Balance: <strong id="ubalance"> @Session["money"] $</strong>
</p>
                        </div>
                    </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <div class="social">

@{  if (Convert.ToBoolean(Session["admin"]))
    {
        @Html.ActionLink("Administrator", "Index", "Admin")
    }
}

                        @Html.ActionLink("My Profile", "UserArea", "User")
                        @Html.ActionLink("My Orders", "UserOrders", "Shop")
                        @Html.ActionLink("Exit", "LogOut", "User")
                       
                    </div>
</div>
            </div>
        </div>
    </div>

    }
        }

<!-- top -->
    <div class="topbar dark clearfix">
        <div class="container">
            <div class="row-fluid">
  

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="wrapper">


        <header class="header">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <nav class="navbar navbar-default">
                            <div class="container-fluid">
                                <div class="navbar-table">
                                    <div class="navbar-cell tight">
                                        <div class="navbar-header">
                                            <a class="navbar-brand" href="#"><img src="~/Content/images/logo.png" alt="Ova"></a>
                                            <div>
                                                <button type="button" class="navbar-toggle collapsed " data-toggle="collapse" data-target="#bs-example-navbar-collapse-2" >
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="fa fa-bars"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

                                            <div class="navbar-cell">

                                                <ul class="nav navbar-nav navbar-right">
                                                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                                    <li>@Html.ActionLink("Shop", "Index", "Shop")</li>
                                                    <li>@Html.ActionLink("Services", "About", "Home")</li>
                                                    <li>@Html.ActionLink("Prices", "Info", "Home")</li>
                                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                
                 
                                                                                      @{  if (Session["login"] == null) {
              <li>@Html.ActionLink("Login", "Login", "User")</li>
             }  }
                                                </ul>

                                            </div>
                                        </div>
                                    
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

      <!--  <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Services", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Prices", "Info", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>

-->

        <div class="container body-content">
            @RenderBody()

            <br /><br />


        </div>




        <footer class="footer dark">
            <div class="container">
                <div class="row module-wrapper">

                    <div class="col-md-10 col-sm-6" style="display: inline-block; text-align: right; width: 100%">
                        <div class="widget">
                            <div class="widget-title">
                                <H4>Take us to care your pet!</H4>
                                <h3>Contact Details</h3>
                            </div>
                            <ul>
                                <li><i class="fa fa-link"></i> www.woofstore.com</li>
                                <li><i class="fa fa-envelope"></i> info@woofstore.com</li>
                                <li><i class="fa fa-phone"></i> 050 506 4541</li>
                                <li><i class="fa fa-fax"></i> 052 626 7765</li>
                                <li><i class="fa fa-home"></i> Bialik 56, Beer Sheva</li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            </footer>

        <section class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <p>© @DateTime.Now.Year WoofStore </p>
                    </div>
                    
                </div>
            </div>
        </section>

</div>

        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/main.js")
        @RenderSection("scripts", required: false)
</body>
</html>
